.menu_bar {
  width: 500px;
  height: 100%;
  display: flex;
}

.menu_item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item:hover {
  background-color: var(--skin-color);
  cursor: pointer;
}

.menu_icon {
  margin-right: 0.25rem;
}
