.side_bar {
  display: none;
}

@media screen and (max-width: 767px) {
  .side_bar {
    display: block;
    position: absolute;
    width: 250px;
    height: 100vh;
    min-height: 500px;
    z-index: 500;
    background-color: #fff;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .user_info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
  }

  .user_info_center_box {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
  }

  .user_photo {
    width: 30%;
    height: 50%;

    display: flex;
    align-items: center;
    margin-left: 0.725rem;
  }
  .user_info {
    margin-left: 0.725rem;
    width: 70%;
    height: 50%;
  }

  .user_info > div:first-child {
    height: 65%;
    display: flex;
    align-items: center;
  }

  .user_info > div:last-child {
    height: 35%;
    display: flex;
    align-items: center;
    font-size: 0.625rem;
  }
  .logout_wrapper {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 2px dotted rgba(68, 67, 67, 0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .side_bar_my_information {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side_bar_my_information > div {
    margin-right: 0.25rem;
  }

  .side_bar_my_information:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .side_bar_user_isAuthticate {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .side_bar_user_isAuthticate:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
