.carousel-container {
  max-width: 1920px;
  height: 500px;
  border: 1px solid red;
}

.react-multi-carousel-track {
}

.carousel-item {
  margin-right: 20px !important;
  /* width: 100% !important; */
  width: calc(
    100% / 5
  ) !important; /* 데스크탑에서 5개의 아이템이 옆으로 나란히 표시되도록 너비 조절 */
  border: 1px solid blueviolet;
}

.carousel-item:last-child {
  margin-right: 0 !important;
}

/* Card customize */
.carousel-container .card-item {
  width: 360px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
}

.carousel-container .card-image {
  width: 320px;
  height: 320px;
  margin-bottom: 1em;
}

.carousel-container .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.carousel-container .card-detail {
  margin-left: 0px;
}

.carousel-container .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.carousel-container .card-address {
  margin-bottom: 10px;
  text-align: center;
}

.carousel-container .card-like {
  margin-left: 0px;
}

.carousel-container .card-like img {
  width: 24px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
}

@media screen and (min-width: 464px) and (max-width: 1024px) {
  /* 태블릿 화면 크기에 대한 스타일 */
  .carousel-item {
    width: calc(
      100% / 3
    ) !important; /* 태블릿에서 3개의 아이템이 옆으로 나란히 표시되도록 너비 조절 */
  }
}

@media screen and (max-width: 464px) {
  /* 모바일 화면 크기에 대한 스타일 */
  .carousel-item {
    width: 100% !important; /* 모바일에서는 한 번에 하나의 아이템만 표시되도록 전체 너비를 차지하도록 설정 */
  }
}
