.auth_page_wrapper {
  width: 100%;
  height: calc(100vh - 75px);
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  width: 500px;
  height: 65vh;
  min-height: 650px;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .auth {
    width: 350px;
  }
}
