.board-title {
  text-align: center;
  margin-top: 50px;
}

.add-btn-wrap {
  display: flex;
  justify-content: center;
}

.add-btn {
  border-radius: 6px;
  border: 3px solid ghostwhite;
  cursor: pointer;
}
