@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.board-wrap {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fbf8f0;
  height: 100vh;
}

.board-title {
  text-align: center;
  margin-top: 40px;
}

.add-btn-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 11%;
}

.add-btn {
  border-radius: 6px;
  border: 3px solid ghostwhite;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 6px 12px;
  background-color: #ded0b6;
  font-weight: bold;
  color: rgb(68, 67, 67);
}

.add-btn:hover {
  background-color: #d4b780;
}
