/* .img-wrap {
  position: relative;
  width: 100%;
} */

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.img-area {
  /* position: absolute;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  z-index: 1;
  left: -2px; */
}
