.input_sign_up_wrapper {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign_up_wrapper > div {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.join-text-wrap {
  display: flex;
}

.bar-wrap {
  margin: auto 25px;
}
