.close_dessert_section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
}

.close_dessert_wrapper {
  width: 80%;
  overflow: hidden;
  position: relative;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.close_dessert_wrapper h2 {
  margin: 1em 0 0.5em 0;
}

.react-multi-carousel-arrow-prev,
.react-multi-carousel-arrow-next {
  position: absolute; /* 절대적 위치 지정 */
  top: 50%; /* 상단 정렬 */
  transform: translateY(-50%); /* 수직 정렬 */
  background-color: rgba(255, 255, 255, 0.7); /* 배경색 지정 */
  border: none; /* 테두리 제거 */
  padding: 10px; /* 패딩 설정 */
  border-radius: 50%; /* 원형 모양 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  z-index: 1; /* 다른 요소 위에 표시 */
}

.react-multi-carousel-arrow-prev {
  left: 0; /* 좌측에 표시 */
}

.react-multi-carousel-arrow-next {
  right: 0; /* 우측에 표시 */
}

@media screen and (max-width: 1920px) {
  .react-multi-carousel-arrow-prev,
  .react-multi-carousel-arrow-next {
    display: block; /* 블록 요소로 변경하여 화살표 표시 */
  }
}
