.close_dessert_section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
}

.close_dessert_wrapper {
  width: 1920px;
  overflow: hidden;
}

.close_dessert_wrapper h2 {
  margin: 1em 0 0.5em 0;
}
