.board-card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.board-card {
  margin: 25px 15px;
  width: 240px;
  height: 220px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.board-card:hover {
  transform: scale(1.1);
}
