@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.board-card {
  margin: 15px 15px;
  width: 240px;
  height: 220px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.board-card:hover {
  transform: scale(1.1);
}

.hashtag {
  background-color: rgb(238, 228, 206);
  margin-right: 5px;
  border-radius: 4px;
  padding: 2px 7px;
  font-size: 14px;
  color: rgb(57, 57, 58);
  font-style: italic;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.card-wrap > div {
  flex: 1 0 calc(25% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-user-info {
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-user-name {
  color: #524f47;
  margin-left: 10px;
  font-size: 16px;
}

.card-user-info img {
  border: 2px solid rgb(211, 204, 195);
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .card-wrap > div {
    flex: 1 0 calc(50% - 10px);
  }
}

@media screen and (max-width: 520px) {
  .card-wrap > div {
    flex: 1 0 calc(100% - 10px);
  }
}
