.board-reply-input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  height: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 4px 8px;
  resize: none;
  border: 2px solid rgba(68, 67, 67, 0.6);
  outline: none;
  font-size: 15px;
}

.reply-btn {
  border: 2px solid #ded0b6;
  border-radius: 6px;
  cursor: pointer;
  width: 80px;
  height: 36px;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 7px auto;
}

.reply-btn:hover {
  color: #000;
  background-color: #ded0b6;
}

.reply-list {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.reply-item {
  margin: 10px 0;
  padding: 4px;
  font-size: 17px;
  border-bottom: 2px solid rgba(68, 67, 67, 0.6);
  padding-bottom: 10px;
}

.reply-user-icon {
  margin-right: 10px;
  color: rgba(68, 67, 67, 0.6);
}
