.login_form {
  width: 80%;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.login_form_btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #33312c;
  border-radius: 10px;
  color: #33312c;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  transition: 0.2s ease-in;
}

.login_form_btn:hover {
  cursor: pointer;
  color: inherit;
  background-color: #bbb19f;
}
