.top > .password_wrapper > h1 {
  margin-bottom: 1rem;
}

.top > .password_wrapper {
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top > .password_wrapper > div {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > .password_wrapper > div > p {
  width: 40%;
}
.password_send_btn {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .top > .password_wrapper > div {
    flex-direction: column;
  }
  .top > .password_wrapper > div > p {
    width: 100%;
  }
}
