.search_card_box {
  margin: 1rem;
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem;
  padding-top: 0.5rem;
}
.search_card_title {
  margin-bottom: 10px;
}
.search_card_phone {
  margin-bottom: 10px;
}
.search_card_address {
  margin-bottom: 5px;
}
.search_card_address span {
  font-size: 0.7rem;
  border: 1px solid var(--deep-color);
  border-radius: 5px;
  padding: 2px 3px;
  margin-right: 5px;
}
.search_card_distance {
  text-align: right;
}
