.profile_top {
  width: 70%;
  /* backgourd 이미지 설정 */
  background-repeat: no-repeat;
  background-position-y: 50px;

  background-size: contain;
  background-color: transparent;
  height: 35%;
  min-height: 300px;
}
.profile_bottom {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile_img {
  position: absolute;
  top: -8rem;
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 1;
}

.profile_informatin_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .profile_informatin_wrapper {
    margin-top: 1.5rem;
  }
}
